# Python
__pycache__/
*.pyc
*.pyo

# Environments
venv/
env/
.venv/
.env

# Databases
*.db
*.sqlite
*.sqlite3

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Build / dist
dist/
build/
*.egg-info/

# Git
.git